[submodule "libQtQmlTricks"]
	path = libQtQmlTricks
	url = https://github.com/minlexx/LibQtQmlTricks-ui-elements-ng.git
[submodule "RegionFlags"]
	path = RegionFlags
	url = https://github.com/behdad/region-flags.git
